%nav.navbar.navbar-default
  .container.fluid
    .navbar-header
      .navbar-brand
        SELLITO
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li 
          = link_to 'Home', root_path
        %li
          = link_to 'About', about_path
.row
  .container
    .col-xs-4.col-xs-offset-4
      %h2 Welcome to SELLITO!
